In [1]:
# 10-11-2023, Oren - Classification Project Notebook

In [2]:
from pandas import read_csv
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier, BaggingClassifier, \
    AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)
warnings.filterwarnings("ignore")
import numpy as np

def csv_drive_path_generatoer(url):
 '''
 Help in read csv file directly from google drive.
 Make sure the csv format is standard.
 url:str - path to csv file example:
   url = 'https://drive.google.com/file/d/126JPZ3lYwdLyJ2d_7jxM9jMtZaOlF-Ld/view?usp=sharing'
 return : str
 '''
 path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
 return path

In [3]:
link_X_train = 'https://drive.google.com/file/d/11Dgctv-N6z3ugQOpRrFNKVP5NNqPPWxK/view?usp=drive_link'
link_y_train = 'https://drive.google.com/file/d/1NDF2aCymR4zjYK9mLYNRwIdB_EyE5ZHl/view?usp=drive_link'

link_X_test = 'https://drive.google.com/file/d/1ZRg80tYdBO1pcd_6R1m_tiijZSfDXMZ6/view?usp=drive_link'

path_X_train = csv_drive_path_generatoer(link_X_train)
path_y_train = csv_drive_path_generatoer(link_y_train)

path_X_test = csv_drive_path_generatoer(link_X_test)

X_train = read_csv(path_X_train, index_col = 0)
y_train = read_csv(path_y_train, index_col = 0)

X_test = read_csv(path_X_test, index_col = 0)

train_data = X_train.join(y_train).set_index('id')

In [4]:
train_data

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,Race,LeaveOrNot
id,,,,,,,,,,
1847,Bachelors,2016,Bangalore,3,27.0,Male,Yes,4,white,0
2905,Bachelors,2012,Bangalore,3,28.0,Male,No,4,white,0
4610,Bachelors,2015,Pune,3,26.0,Female,No,2,white,1
2228,Bachelors,2012,Bangalore,3,29.0,Male,No,1,black,0
5,Bachelors,2016,Bangalore,3,24.0,Male,No,0,white,0
...,...,...,...,...,...,...,...,...,...,...
3335,Bachelors,2016,Bangalore,3,38.0,Female,No,0,white,0
1099,Masters,2017,Pune,2,29.0,Male,No,5,white,1
2514,Bachelors,2016,Pune,3,31.0,Male,No,5,black,0
3606,Bachelors,2013,Pune,2,36.0,Female,No,3,black,1
2575,Bachelors,2013,Bangalore,3,31.0,Male,No,2,white,0

In [5]:
# Defining a data-Transformation class to elegantly perform all data transformation steps by class methods upon class object instansiation 
# can be accessed via the .data class attribute

# 0. Remove nulls
# 1. add tenure feature - current - specified year
# 2. Transform Education values to 1, 2, 3
# 3. Transform EverBenched values to 1 or 0
# 4. Gender, City & Race - One-Hot encoding
# 5. remove extra columns

class DataTransformer:
    
    def __init__(self, data):
        self.data = data
        self.remove_nulls()
        self.add_tenure()
        self.numeric_education()
        self.numeric_everbenched()
        self.one_hot_encoder()
        self.remove_extra_columns()
            
    def remove_nulls(self, column = 'Age'):
        self.data = self.data[~self.data[column].isnull()]
    
    def add_tenure(self,current_year = 2023):
        self.data["Loan's_Tenure"] = current_year - self.data.JoiningYear

    def numeric_education(self):
        self.data['Education'] = self.data['Education'].replace({'Bachelors': 1,'Masters': 2,'PHD': 3})
        
    def numeric_everbenched(self):
        self.data['EverBenched'] = self.data['EverBenched'].replace({'Yes':1, 'No': 0})        

    def one_hot_encoder(self, columns = ['Gender', 'Race', 'City']):
        self.data = pd.get_dummies(self.data, columns = columns, prefix = columns, dtype = int)
            
    def remove_extra_columns(self):
        self.data = self.data.drop(columns = ['JoiningYear'])

In [6]:
# Create an instance of the DataTransformer and save the transformed df via the .data class attribute configured

trans_data = DataTransformer(train_data)

trans_data = trans_data.data

trans_data

,Education,PaymentTier,Age,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,Loan's_Tenure,Gender_Female,Gender_Male,Race_black,Race_red,Race_white,Race_yellow,City_Bangalore,City_New Delhi,City_Pune
id,,,,,,,,,,,,,,,,
1847,1,3,27.0,1,4,0,7,0,1,0,0,1,0,1,0,0
2905,1,3,28.0,0,4,0,11,0,1,0,0,1,0,1,0,0
4610,1,3,26.0,0,2,1,8,1,0,0,0,1,0,0,0,1
2228,1,3,29.0,0,1,0,11,0,1,1,0,0,0,1,0,0
5,1,3,24.0,0,0,0,7,0,1,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,1,3,38.0,0,0,0,7,1,0,0,0,1,0,1,0,0
1099,2,2,29.0,0,5,1,6,0,1,0,0,1,0,0,0,1
2514,1,3,31.0,0,5,0,7,0,1,1,0,0,0,0,0,1
3606,1,2,36.0,0,3,1,10,1,0,1,0,0,0,0,0,1
2575,1,3,31.0,0,2,0,10,0,1,0,0,1,0,1,0,0